.delete_Button {
  width: fit-content;
  background-color: red;
}
.input_To_Do {
  height: 40px;
  width: 250px;
  border: none;
  background-color: hsl(0, 0%, 80%);
  border-radius: 0.5rem;
}

.li_Wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: hsl(0, 0%, 80%);
  border: 2px solid hsla(0, 0%, 30%, 0.75%);
  padding: 0.5rem;
}

.flex_row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ol {
  background-color: hsl(0, 0%, 90%);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
